* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Roboto;
    color: black;
}

.background-image {
    display: flex;
    width: 100%;
    height: 600px;
    background: url('../images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: center;
}

.image-container {
    width: 70%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.text-container {
    font-weight: 400;
    font-family: Roboto,sans-serif;
    font-size: 50px;
    padding-top: 10px;
}

.text {
    font-weight: 400;
    font-family: Roboto,sans-serif;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.pretty-button {
    margin-top: 50px;
    color: white;
    background-color:#D37657;
    border: none;
    width: 248px;
    height: 60px;
}

.background-container {
    width: 100%;
    background-color: #F5F1E9;
}

.text-background-container {
    font-family: Roboto,sans-serif;
    text-align: center;
    width: 100%;
    height: 90px;
    padding: 20px 0 80px 0;
    font-weight: bold;
    font-size: 24px;
}

.background-container-forimg {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    gap: 7%;
}

.background-container-forimg img {
    width: 110px;
    height: auto;
}

.conct-img img {
    width: 160px;
    height: auto;
}

.background-container-fortext {
    width: 100%;
    height: 340px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
    align-items: end;
    width: 45%;
}

.description {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-align: justify;
    width: 100%;  
    padding: 160px;
}

.block-container {
    width: 100%;
    height: 790px;
    background-color: #F5F1E9;
}

.circle-container {
    display:flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}

.circle-el {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid transparent; 
    transition: border-color 0.3s ease; 
}

.circle-el:hover {
    border-color: black;
}

.background-container-forimgkithcen {
    width: 470px;
    height: auto;
    text-align: center;
}

.kitchen-blokc {
    text-align: center;
    padding-top: 50px;
    padding-left: 130px;
}

.curated-container {
    width: 100%;
    height: 860px;
    background-color: #FCFAF6;
}

.elipse {
    width: 290px;
    height: 230px;
    background-color: #F7F3EB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.elipse-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

.image-dishes img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.fortext-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
    padding-top: 20px;
}

.fortext-block div {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 400;
    color: #35312E;
    padding-top: 10px;
    font-size: 14px; 
}

.fortext-block div img {
    max-width: 100%;
    height: auto;
}

.fortext-blocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 400;
    color: #35312E;
    padding-top: 10px;
    font-size: 14px; 
}

.fortext-blocking{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 400;
    color: #35312E;
    width: 100%;
    padding-top: 10px;
    font-size: 14px; 
}

.block-outfuter{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 480px;
    background-color: #F5F1E9;
}

.block-outfuter img{
  max-width: 89.3%;
  height: auto;
}

.button-container {
    display: flex;           
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
}

.footer-block{
    width: 100%;
    height: 655px;
}

.firsy-block-footer{
    background-color: #6C674D;
    width: 100%;
    height: 560px;
}

.second-block-footer{
    background-color: #807C62;
    width: 100%;
    height: 105px;
}

.input{
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
    height: 55px;
    background-color: white;
    border: 1px solid #35312E;
}

.button{
    width: 85px;
    height: 45px;
    background-color: white;

}